@import url('https://fonts.googleapis.com/css2?family=Sue+Ellen+Francisco&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
:root {
    
    --orange: hsl(16, 94%, 66%);
    --white: hsl(0, 0%, 100%);
    --blue: hsl(202, 100%, 30%);

    --wi: 381px;
    --he: 373px;

    --Sue: 'Sue Ellen Francisco', cursive;
    --Apple: 'Homemade Apple', cursive;
}

body {
    background-image: url(../gfx/bg.png);
}

/* HEADER STYLING START */

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 115px;
    position: relative;
}
header #logo{
    display: block;
    width: 380px;
}
header nav{
    width: 100%;
    position: absolute;
    z-index: 3;
}
header nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
}
header nav li{
    list-style-type: none;
    padding: 0 1rem;
}
header nav a{
    text-decoration: none;
    font-size: 3rem;
    font-family: var(--Sue);
    color: var(--orange);
}
#gtv {
    position: absolute;
    bottom: -115px;
    left: 0;
    z-index: 2;
}
#gth {
    position: absolute;
    bottom: -115px;
    right: 0;
    z-index: 2;
}

/* MAIN STYLING START */

.wrapper{
    width: 90%;
    margin: 0 auto;
}
section{
    min-height: 50vh;
    margin-top: 50px;
}
.section-splitter{
    width: 100%;
}
.bg-img-flip{
    transform: rotate(180deg);
}
#home p{
    font-size: 1.6rem;
}
.flex{
    display: flex;
}
.flex-jc-sb{
    justify-content: space-between;
}
.flex-jc-sa{
    justify-content: space-around;
}
.flex-jc-c{
    justify-content: center;
}
.column{
    display: flex;
    flex-direction: column;
}
.blue{
    background-image: url(../gfx/bluetextur.png);
    color: var(--white);
    border-radius: 40px;
    width: 30%;
    max-width: 465px;
    padding: 20px;
    position: relative;
}
.blue h3{
    font-family: var(--Apple);
    text-align: center;
    font-size: 40px;
    margin-top: 60px;
}
.blue p{
    width: 100%;
    font-family: var(--Sue);
    font-size: 22px;
    margin-bottom: 25px;
    text-align: center;
}
.blue p span{
    display: block;
    text-align: center;
}
.blue .pin{
    position: absolute;
    top: 2%;
    left: 47%;
    width: 32px;
}
#home .blue{
    align-items: center;
}
.events img{
    height: 650px;
}

/* SLIDER STYLING START */

.feed{
    position: relative;
}
.slider-frame{
    overflow: hidden;
    height: var(--he);
    width: var(--wi);
    margin-left: 360px;
    position: absolute;
    top: 119px;
    left: -315px;
    z-index: -1;
}
.slider{
    width: calc(5*var(--wi));
    height: var(--he);
    margin-left: calc(-4*var(--wi));
    position: relative;
    animation-name: slider;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
    background-color: #fff;

}
.slider .slider-img{
    width: var(--wi);
    height: var(--he);
    position: relative;
    float: left;
}
.slider-img img{
    object-fit: contain;
    height: 100%;
    margin: 0 auto;
}
@keyframes slider{
    0%      {left: 0px;}
    11%     {left: 0px;}
    22%     {left: var(--wi);}
    33%     {left: var(--wi);}
    44%     {left: calc(2*var(--wi));}
    55%     {left: calc(2*var(--wi));}
    67%     {left: calc(3*var(--wi));}
    78%     {left: calc(3*var(--wi));}
    89%     {left: calc(4*var(--wi));}
    100%    {left: calc(4*var(--wi));}
}

/* MODAL STYLING START */
#contact img{
    width: 100%;
    margin-bottom: 400px;
}
#myBtn{
    background-color: var(--blue);
    color: var(--orange);
    border: 0;
    border-radius: 35px;
    width: 200px;
    height: 70px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}
#myBtn:hover{
    background-color: hsl(202, 100%, 35%);
}
#home #myBtn{
    background-color: hsl(202, 100%, 40%);
    color: var(--white);
    width: 150px;
    height: 50px;
    border-radius: 25px;
}
#home #myBtn:hover{
    background-color: hsl(202, 100%, 45%);
}
.modal {
    display: none;
    position: fixed;
    z-index: 4;
    padding-top: 0px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 60%;
}
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* FOOTER STYLING START */

footer{
    width: 100%;
    margin-top: 5rem;
    position: relative;
}
footer .overlay{
    position: absolute;
    width: 100%;
    bottom: 0;
}
footer .flex{
    align-items: flex-end;
}
footer .wrapper div{
    width: 30%;
    margin-bottom: 1rem;
}
footer .logo img{
    height: 110px;
}
footer .links {
    display: flex;
    justify-content: center;
}
footer .links a{
    background: var(--orange);
    border-radius: 27.5px;
    font-size: 2.5rem;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: 0.4s ease-in-out;
    transition-property: background;
}
footer .links a:first-of-type{
    margin-right: 2rem;
}
footer .links a:hover {
    background: #fff; 
}
footer .links a i {
    color: #fff;
    transition: 0.4s ease-in-out; 
    transition-property: color;
}
footer .links a:hover i{
    color: var(--orange); 
}
footer .info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}
footer .info p{
    color: var(--orange);
    font-family: var(--Sue);
    font-weight: bold;
    font-size: 2rem;
}